/* место для вашего кода */

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr; /* Три равные колонки */
  align-items: center; /* Выравнивание элементов по вертикали */
  margin: 92px 0 96px 0;
}

.header__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 13px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  column-gap: 33px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  font-weight: 400;
  font-size: 18px;
  text-decoration-skip-ink: none;
  text-underline-offset: 2.5px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 148px; /* ширина логотипа */
  height: 105px; /* высота логотипа */
  background: url(../images/logo-black.svg) no-repeat center center;
  background-size: contain;
}

.header__address {
  justify-self: end;
  max-width: 300px;
  padding: 0px 82px 0 0;
}

.header__address a {
  font-size: 18px;
  line-height: 1.35;
  text-decoration-skip-ink: none;
  text-underline-offset: 4px;
}

.address {
  font-size: 18px;
  font-style: normal;
  line-height: 1.35;
}

/* Endblock header */

/* Block Cover */

.cover {
  position: relative;
  z-index: 0;
  color: white;
  background: url(../images/cover.jpg) no-repeat center center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* Полупрозрачный тёмный фон */
}

.cover__title {
  position: relative;
  z-index: 2;
  padding: 165px 50px 104.5px 50px;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  line-height: 1.15;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  padding: 20px 0 20px 30px;
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

/* Описание */
.cover__description {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  padding-bottom: 50px;
  padding-left: 50px;
}

.cover__description-text {
  font-size: 22px;
  line-height: 1.27; /* 127.273% */
  text-transform: uppercase;
  word-spacing: 18.6px;
}

.bet-button {
  margin: 0 0 0 104px;
  border: 1px solid white; /* Белая рамка */
  padding: 12px 32px 12px 31px; /* Внутренние отступы */
  color: white; /* Цвет текста */
  font-size: 22px;
  font-style: normal;
  text-transform: uppercase;
  background: transparent; /* Прозрачный фон */
  cursor: pointer;
}
/* End Block Cover */
/* Start Block Lots */

.lots {
  padding: 180px 0 0 0;
}

.lots__heading {
  padding: 0 0 0 64px;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-flow: row wrap;
  gap: 25px;
  margin: 27px 24px 0 24px;
  list-style: none;
}

.card-link {
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  min-height: 596px;
  color: white;
}

.card_type_film {
  background: url(../images/card-lot-01.jpg) no-repeat center center;
  background-size: cover;
}

.card_type_book {
  background: url(../images/card-lot-02.jpg) no-repeat center center;
  background-size: cover;
}

.card_type_picture {
  background: url(../images/card-lot-03.jpg) no-repeat center center;
  background-size: cover;
}

.card__title {
  position: relative;
  z-index: 2;
  padding: 48px 40px 0 40px;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.20;
  text-decoration: underline white;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 2;
  padding: 0 40px 48px 40px;
  font-size: 20px;
  line-height: 1.2;
}

.lots__look-more-link {
  display: block;
  padding: 30px 0 0 64px;
  font-size: 20px;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}




/* End Block Lots */
/* Start Block About */

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  margin: 154px 24px 0 24px;
}

.about__column:first-of-type {
  padding: 0 0 0 47px;
}

.about__column:last-of-type {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}


.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  z-index: 2;
  width: 148px;
  height: 114px;
}

.circle {
  z-index: 1;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 1);
}

.about__title {
  padding: 100px 0 0 25px;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  padding: 8px 2px 0 22.5px;
  font-size: 20px;
  line-height: 1.2; /* 120% */
}

.about__text:first-of-type {
  margin-bottom: 24px; /* Нижний отступ для первого абзаца */
}

.about__text:last-of-type {
  padding-top: 0;
}

/* End Block About */
/* Start Block Footer */
