/* место для вашего кода */

.header {
  display: grid;
  margin: 92px 0 96px 0;
  grid-template-columns: 1fr min-content 1fr; /* Три равные колонки */
  align-items: center; /* Выравнивание элементов по вертикали */
}

.header__menu {
  display: flex;
  padding: 0 0 0 13px;
  justify-content: center;
  align-items: center;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  column-gap: 33px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  font-size: 18px;
  font-weight: 400;
  text-underline-offset: 4px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 148px; /* ширина логотипа */
  height: 105px; /* высота логотипа */
  background: url(../images/logo-black.svg) no-repeat center center;
  background-size: contain;
}

.header__address {
  max-width: 300px;
  justify-self: end;
  padding: 1px 86px 0 0;
}

.header__address a {
  padding: 0px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  text-underline-offset: 4px;
}

.address {
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  font-style: normal;
}

/* Endblock header */

/* Block Cover */

.cover {
  position: relative;
  background: url(../images/cover.jpg) no-repeat center center;
  background-size: cover;
  color: white;
  z-index: 0;
}

.overlay {
  position: absolute;
  inset: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* Полупрозрачный тёмный фон */
  z-index: 1;
}

.cover__title {
  position: relative;
  padding: 165px 50px 104.5px 50px;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115px; /* 115px */
  text-transform: uppercase;
  z-index: 2;
}

.aligned-text {
  display: block; /* Превращаем слова в блочные элементы */
}

.aligned-text_center {
  text-align: center;
  padding: 20px 0 20px 30px;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

/* Описание */
.cover__description {
  position: relative;/* Разместить над оверлеем */
  display: flex;
  z-index: 2;
  padding-left: 50px;
  padding-bottom: 50px;
  align-items: center;
}

.cover__description-text {
  font-size: 22px;
  line-height: 28px; /* 127.273% */
  text-transform: uppercase;
  word-spacing: 18.6px;
}

/* Кнопка */
.bet-button {
  font: inherit; /* Унаследовать шрифт от родителя */
  border: 1px solid white; /* Белая рамка */
  padding: 12px 32px 12px 31px; /* Внутренние отступы */
  margin: 0 0 0 107px;
  background: transparent; /* Прозрачный фон */
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
  color: white; /* Цвет текста */
  cursor: pointer;
}
